################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RealEstateDataParser/bin/Debug
/RealEstateDataParser/Data
/RealEstateDataParser/obj
/.vs/RealEstateDataParser/DesignTimeBuild
/.vs/RealEstateDataParser/v16
/RealEstateDataParser/Properties
/.vs/RealEstateDataParser/config/applicationhost.config
/TestParser/bin/Debug/netcoreapp2.2/Data
/TestParser/bin/Debug/netcoreapp2.2
/TestParser/Data
/TestParser/obj/Debug/netcoreapp2.2
/TestParser/obj
/RealEstateDataParser/bin/Release/netcoreapp2.2
