################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RealEstateDataParser/bin/Debug
/RealEstateDataParser/Data
/RealEstateDataParser/obj
